* {
    margin: 0;
}

body {
    background: white;
}

h2 {
    text-align: center;
    padding: 10px 0 10px 0;
    color: #333333;
}

p {
    color: #333333;
    font-size: 18px;
}

header {
    height: 50px;
    font-size: xx-large;
    text-align: center;
    background-color: black;
}

header p {
    color: white;
    vertical-align: middle;
}

.navbar-fixed-top {
    top: 0;
    position: fixed;
    width: 100%;
}

nav {
    height: 50px;
    width: 100%;
    padding: 0;
    background-color: #333333;
}

nav ul {
    list-style: none;
    display: table;
    padding: 0;
    margin: auto;
    width: 75%;
    height: 100%;
    justify-content: center;
}

nav ul li {
    display: table-cell;
    height: 100%;
    align-items: middle;
    vertical-align: middle;
}

.nav-item a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    background-color: white;
    color: #333333;
}

#main-body {
    height: 4000px;
    padding-top: 50px;
}

#main-body h2 {
    text-align: left;
    margin-left: 10%;
}

#main-body h3 {
    text-align: center;
}

#main-body p {
    margin-left: 10%;
    margin-right: 10%;
}

#psuedocode {
    width: 750px;
    height: 350px;
    margin-left: 10%;
}

#class-counts {
    border-collapse: collapse;
    width: 30%;
    margin-left: 35%;
}

#class-counts td {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

#figure1 {
    width: 500px;
    height: 350px;
    margin-left: calc(50% - 250px);
}

#figure1-caption {
    margin-left: 10%;
    font-size: 18px;
}

#figure2 img {
    width: 1200px;
    height: 400px;
    margin-left: calc(50% - 600px);
}

#figure2 figcaption {
    width: 600px;
    margin-left: calc(50% - 300px);
    font-size: 18px;
}

#words {
    border-collapse: collapse;
    width: 30%;
    margin-left: 35%;
}

#words td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

footer {
    height: 100px;
    background-color: #333333;
}